table {
  border-collapse: collapse;
  margin: 20px;
}
thead tr, thead td {
  background-color: rgb(40, 79, 157);
  color: whitesmoke;
}
td {
  border: 1px solid black;
  margin: 0;
  padding: 5px 10px;
  min-width: 80px;
}